.flexContainer{
    display: flex;
    /* default  */
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    justify-content: flex-start;/*Default*/
    /* justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around; */

    /* So if we dont adjust  the align items .  the box will stay stretch */

    /* Relative to the cross axis */
    /* align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch; */ /*adjust the height and stretches to occupy the whole container */
    flex-wrap: nowrap;
    /* flex-wrap: wrap;
    flex-wrap: wrap-reverse; */
    column-gap: 50px;
}

/* Adjusting for a single element  */
/* .flexItem2{
    align-self: flex-start;
    align-self: flex-end;
    align-self: center;
} */

/* Fill out the parent container by its minimum size */
/* .flexItem1{
    flex-grow: 3;
}
.flexItem2{
    flex-grow: 2;
}
.flexItem3{
    flex-grow: 1;
} */

.flexItem1{
    flex-shrink: 3;
}
.flexItem2{ 
    flex-shrink: 2;
}
.flexItem3{
    flex-shrink: 1;
}
